<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>Trialbalance</title>
  </head>
  <body>
    <div class="mitindhold"> 
      <form action="import_convert_download_route" method="POST" enctype="multipart/form-data">
        <input type="file" name="inputfile_html_attribute">
        <button type="submit">Convert</button>
      </form>
    </div>
  </body>
</html>
