<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>Trialbalance</title>
  </head>
  <body>
    <div class="container">
      <input type="button" class="button" value="Upload TB" onclick="alert('Under udarbejdelse')">
      <a href="./min_data?" class="button">Test DB</a>
      <a href="./min_data2?" class="button">Test DB2</a>
      <p><a href="https://github.com/KristianMeier/krmetest.git">Github</a></p>
    </div>
  </body>
</html>
